.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  // We cannot use this as we won't be able to animate it if we use display:none
  // display: none;
  transition: all 0.3s;
  backdrop-filter: blur(10px);

  // If we add href="#something" to an anchor element, than that is the target element. This means that the url will be changed to /#something that is the target
  //  Now for here, we have used something = popup. So, we have to consider the case popup:target.

  &__content {
    @include centerElement;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s 0.2s;
  }

  &__left {
    width: 33.33%;
    display: table-cell;
  }
  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
  }
  // Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
      transition: all 0.3s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
